// Project - wide specific rules

html,
body {
  overflow-anchor: none;
}

html {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: $black;
}

body {
  overflow-y: scroll;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

main {
  & > section:last-child,
  & > div:last-child {
    margin-bottom: 0;
  }
}
