/* This file is included into '@/plugins/global.js'. You can access all styles
  placed here inside vue templates through '$global' keyword.
  Example: div(:class="$global.container")
*/

/* A11y */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Typography */
.h1 {
  @include section-title();
}

/* Grid */
.container {
  width: 100%;
  max-width: var(--max-content-width);
  padding-right: var(--grid-sides);
  padding-left: var(--grid-sides);
  margin-left: auto;
  margin-right: auto;
}

/* Utils */
.ratio {
  width: 100%;
  padding-bottom: calc(var(--aspect-ratio, 1) * 100%);
}
